/* CSS (root) psuedo class containing the repeating color theme to be called in stylesheet */
:root {
    --dark-bg: #0D1117;
    --accent: #161B22;
    --green: #BCECC3;
    --blue: #94ABF3;
    --pink: #FFA1A1;
    --yelow: #FCCC75;

    --primary-font: #fff;
    --secondary-font: #BEBEBE;
}
/* Universal selector setting font family as well as margin and padding for spacing */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
/* Assigns background color to body element as well as flex functionality, sizing, and centering content */
body {
    background-color: var(--dark-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}


.container {
    background-image: url(../images/musepal-bg.svg);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    width: 100vw;
    height: 100vw;
    max-width: 80%;
}
/* Centers content in section with 'logo' class and assigns font size/color */
.logo {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-font);
    font-size: 30px;
}
/* Centers content in section with 'subtitle' class and assigns white font color */
.subtitle {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-font);

}
/* Changes font color to span element with 'muse' class */
.muse {
    color: var(--green);
}


h3 {
    color: var(--primary-font);
    font-size: 25px;
}

/* Centers content in the section with 'option-container' class and adds font color, background color, spacing and rounded edges */
.option-container {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px;
    color: var(--primary-font);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 30px;
}


#slogan {
    margin: 20px 0px;
}

.line {
    border-bottom: 10px solid var(--green);
    width: 20%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Assigns initial styles for the buttons in the option container including bg color, font properties, rounded edges and spacing */
.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 100px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin: 20px;
    transition: .3s;
    color: var(--primary-font);
    background-color: var(--blue);
}
/* Psuedo class assigns different background color for button when cursor hovers over */
.btn:hover {
    background-color: var(--pink);
    transition: .3s;
}
/* Psuedo class assigns different background color for button while clicked */
.btn:active {
    background-color: var(--green);
    transition: 0s;
}

.overlay {
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

/* @media screen and (min-width: 2560px) { */
    *{
        font-family: Poppins, sans-serif;
    }
    
    body {
        background-image: url(../images/musepal-bg-desktop.svg);
        background-size: cover;
        background-color: var(--dark-bg);
        display: inline;
        height: 100vh;
        width: 100vw;
    }

    h1 {
        font-weight: bold;
        font-size: 58px;
    }

    /* meatball menu style ------------------------------------- */
    .meatball-container {
        background-color: var(--yelow);
        border-radius: 50px;
        height: 50px;
        width: 100%;
        outline: none;
        border: none;
    }

    .meatball-container:hover {
        background-color: var(--blue);
        transition: .5s;
    }

    .meatball-container:active {
        background-color: var(--pink);
        transition: 0s;
    }

    .meatball {
        padding: 10px;
        width: 100px;
        height: 50px;
    }

    /* meatball modal style */
    .meat-ball-modal {
        position: absolute;
        z-index: 12;
        background-color: var(--accent);
        border-radius: 15px;
        padding: 30px;
        height: 170px;
        width: 300px;
        left: 50%;
        top: 50%;
        transition: .5s;
    }

    .dark-theme {
        height: 50px;
        width: 100%;
        border-radius: 15px;
        background-color: var(--blue);
        border: none;
        outline: none;
        margin: 20px 0 20px 0;
        transition: .5s;
    }

    .light-theme {
        height: 50px;
        width: 100%;
        border-radius: 15px;
        background-color: var(--pink);
        border: none;
        outline: none;
        margin: 20px 0 20px 0;
        transition: .5s;
    }
    
    .light-theme:hover, .dark-theme:hover {
        background-color: var(--green);
        transition: .5s;
    }

    .dark-theme:active {
        background-color: var(--blue);
        transition: 0s;
    }

    .light-theme:active {
        background-color: var(--pink);
        transition: 0s;
    }

    /* meatball menu style end ------------------------------------- */

    .sidebar {
        background-color: var(--accent);
        height: 100vh;
        z-index: 10;
        float: left;
        padding: 30px;
        display: flex;
    }

    .nav-btn {
        border-radius: 50px;
        background-color: var(--blue);
        border: none;
        outline: none;
        color: var(--primary-font);
        padding: 15px;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 22px;
        transition: .3s;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .nav-btn:hover {
        background-color: var(--pink);
        transition: .3s;
    }

    .nav-line {
        border-bottom: 2px solid var(--primary-font);
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-sub {
        text-align: left;
        font-size: 20px;
    }

    .bg {
        display: grid;
        background-color: var(--dark-bg);
        padding: 30px;
        height: 100vh;
    }

    .feature-content {
        display: flex;
        flex-wrap: wrap;
    }

    .featured-content h3 {
        color: var(--primary-font);
        font-weight: bold;
    }

    .featured-content h5 {
        margin-top: 10px;
        color: var(--secondary-font);
        font-weight: normal;
    }

    .div-line {
        border-bottom: 2px solid var(--primary-font);
        width: 87%;
        margin: auto;
        margin: 20px 0px 20px 0px;
    }

    .feature-card {
        margin: 0px 20px 0px 0px;
        width: 400px;
    }

    .feature-card h3 {
        color: var(--primary-font);
        font-weight: bold;
        justify-content: center;
        text-align: center;
        margin: 15px;
    }

    .song-card-img {
        background-size: cover;
        background-color: var(--accent);
        border-radius: 15px 15px 0px 0px;
    }

    .feature-img {
        border-radius: 15px 15px 0 0;
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .song-card-info {
        background-color: var(--accent);
        color: var(--primary-font);
        padding: 5px 0px 10px 10px;
        border-radius: 0px 0px 15px 15px;
    }

    .search-song {
        margin-top: 70px;
    }

    .search-song input {
        border-radius: 50px;
        margin-top: 20px;
        padding: 15px;
        font-size: 18px;
        width: 50%;
        outline: none;
        border: none;
    }

    .hide {
        display: none;
    }

    ::-webkit-scrollbar {
        background-color: var(--dark-bg);
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 15px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--green);
    }

    /* light mode style */
    .lightmode-sidebar {
        --dark-bg: #fff;
        --accent: #fff;
        --green: #BCECC3;
        --blue: #FCCC75;
        --pink: #FFA1A1;
    
        --primary-font: #0D1117;
        --secondary-font: #4b4b4b;
        
        height: 100vh;
        z-index: 10;
        padding: 30px;
    }

    .lightmode {
        --dark-bg: #e9e9e9;
        --accent: #fff;
        --green: #BCECC3;
        --blue: #FCCC75;
        --pink: #FFA1A1;
    
        --primary-font: #0D1117;
        --secondary-font: #4b4b4b;
    }
    
    .lightmode-logo {
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .lightimage {
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 35%;
    }

    .muselight {
        color: var(--blue);
    }
/* } */

@media screen and (max-width: 1651px) {
    body {
        overflow-x: hidden;
    }

    .mobile-nav {
        display: block;
    }

    .logo {
        padding-top: 30px;
    }

    .sidebar {
        position: absolute;
        right: 0;
        top: 0;
        transform: translatex(100%);
        transition: .5s ease-in;
    }

    .nav-btn-container {
        opacity: 0;
    }
    
    .bg {
        justify-content: center;
        align-items: center;
        height: 960px;
    }

    .featured-content, .feature-content, .search-song {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .div-line {
        width: 100%;
    }

    .mobile-nav {
        background-color: var(--dark-bg);
        width: 100%;
    }

    .burger {
        background-color: var(--dark-bg);
        padding: 30px;
        cursor: pointer;
        display: grid;
        justify-content: center;
    }
    .burger-line{
        background-color: white;
        width: 30px;
        height: 5px;
        margin: 3px;
    }
}

@media screen and (max-width: 1651px) {
    .bg {
        height: 100vh;
    }

    .sidebar {
        height: 100%;
    }
}

@media screen and (max-width: 1329px) {
    .bg {
        height: 100%;
    }

    .sidebar {
        height: 100%;
    }
}

@media screen and (max-width: 1221px) {
    .bg {
        height: 100%;
    }

    .sidebar {
        height: 100%;
    }
}

@media screen and (max-width: 909px) {
    .bg {
        height: 100%;
    }

    .sidebar {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .mobile-nav {
        display: block;
    }

    .logo {
        padding-top: 30px;
    }

    .sidebar {
        position: absolute;
        right: 0;
        top: 0;
        transform: translatex(100%);
        transition: .5s ease-in;
        height: 100%;
    }

    .nav-btn-container {
        opacity: 0;
    }
    
    .bg {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .featured-content, .feature-content, .search-song {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .div-line {
        width: 100%;
    }

    .mobile-nav {
        background-color: var(--dark-bg);
        width: 100%;
    }

    .burger {
        background-color: var(--dark-bg);
        padding: 30px;
        cursor: pointer;
        display: grid;
        justify-content: center;
    }
    .burger-line{
        background-color: white;
        width: 30px;
        height: 5px;
        margin: 3px;
    }
}

@media screen and (max-width: 500px) {
    .bg {
        height: 100%;
    }

    .sidebar {
        height: 100%;
    }
}

.sidebar-active {
    transform: translatex(0%);
    position: absolute;
}